/* CONTACT FORM CSS  */
.contact-form {  width: 100%;
  /* Box-model */
  padding: 45px 10px 25px 31px;
  /* Positioning */
  margin-top: 30px;
  /* Visual */
  background-color: #fff;
}
.contact-form-header,
.port-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}
#name_input,
#mail_input,
#msg {
  width: 95%;
  /* Box-model */
  height: 30px;
  /* Positioning */
  margin-top: 20px;
  margin-bottom: 15px;
}
#msg {
  /* Box-model */
  height: 200px;
  /* Visual */
  border-color: #bbc;
}
.label-name,
.label-msg,
.label-mail {
  /* Typography */
  font-size: 17px;
  color: #bbc;
}
.contact-hr {
  margin-bottom: 30px;
}
.text {
  background-color: #4aaaa5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  /* Typography */
  color: #fff;
  /* Visual */
  background-color: #4aaaa5;
  border: 0;
}